$mobileWidth: 768px;
$triangleHeight: 10vh;
$skewAngle: 30deg;

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
$screen-sm-width: 768px;
/* Medium devices (desktops, 992px and up) */
$screen-md-width: 992px;
/* Large devices (large desktops, 1200px and up) */
$screen-lg-width: 1200px;

// *************************************************************

$yellowColor: #f4bd00;
$grayColor: #f6f6f6;